.adminMaterial {
	width: 100%;
	max-width: 1000px;
	height: 50px;
	margin-top: 40px;
	text-align: center;
	position: relative;
	transition: all 0.4s ease-out;
}
.adminControl {
	cursor: pointer;
	font-weight: lighter;
	height: 100px;
	transition: all 0.4s ease-out;
	border-radius: 5px;
}
.adminControl:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.adminDescription {
	padding-top: 40px;
	display: inline-block;
}
.adminOptions {
	background-color: white;
	opacity: 1;
	height: 0;
	overflow: hidden;
	position: relative;
	width: 100%;
	transition: all 0.4s ease-out;
	z-index: 10;
}
.button {
	margin: auto;
	height: 40px;
	width: 80px;
	border-radius: 5px;
}

